DATABASE_URL=postgresql+psycopg://postgres:password123@localhost:5432/home_db
ENVIRONMENT=local
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=admin
MQTT_PASSWORD=admin
INTERVAL_MINUTES=5
TIMEZONE=Europe/Madrid
CONFIG_PATH=config/config.json
INSTALLATION_PREFIX=installation-topic-prefix